{
  "extends": "airbnb-base",
    "rules": {
    linebreak-style: ["error", "windows"],
    import/no-extraneous-dependencies: ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}],
    no-underscore-dangle: ["error", { "allow": ["_pfx", "_prefix"] }]
  },
  "globals": {
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "after"       : false,
    "beforeEach"  : false,
    "afterEach"  : false,
    "browser"     : false,
    "element"     : false,
    "expect"   : false,
  },
}
